@font-face {
    font-family: 'Overwatch';
    src: url('./big_noodle_titling_oblique.ttf');
    font-weight: 600;
    font-style: normal;
  }

  :root {
    --green: #b6ef13;
    --element-background: rgba(14, 14, 14, 0.8);
}
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overwatch', sans-serif;

}

body {
    background-color: rgb(215,212,208);
}

#content {
    display: flex;
    flex-direction: column;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.header {
    display: flex;
    margin: auto;
    background-color: var(--element-background);
    color: 	var(--green);
    height: 150px;
    letter-spacing: 2px;
    width: 100%;
    font-size: 75px;
    justify-content: center;
    align-items: center;
}

#chef {
    height: 155px;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav {
    height: 250px;
    width: 750px;
    margin: 20px;
    align-self: self-start;
    color: var(--green);
    background-color: var(--element-background);
    border-radius: 10px;
    font-size: 60px;
}

.nav ul {
    margin: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
}

.nav li {
    cursor: pointer;
}

.about {
    height: 950px;
    width: 700px;
    background-color: var(--element-background);
    border-radius: 10px;
    font-size: 27px;
    justify-self: center;
    color: var(--green)
}

.about h2 {
    text-align: center;
    margin-top: 10px;
}

.about p {
    margin: 20px;
}

.genji-image {
    display: flex;
    height: 1000px;
    align-self: flex-end;
}

.genji {
    height: 100%;
}